<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pikcurchu.pikcur.mapper.SigninMapper">

    <select id="findById" resultType="com.pikcurchu.pikcur.vo.Member">
        select
            member_no as memberNo,
            id,
            name,
            authority,
            password
        from
            member
        where
            id = #{id}
    </select>

</mapper>